.episode-listing {
		.actor-box {
			margin: 0 auto;
			width: 94%;
			padding-top:40rpx;
			display: flex;
			text-align: left;
			justify-content: center;
			// background-color: #333;
			margin-right: 20rpx;
			.actor-name {
				margin-left: 20rpx;
				font-size: 28rpx;
				width: 90%;
				margin-top: 16rpx;
				.actor-name-box{
					display: flex;
					justify-content: space-between; /* 两端对齐 */
					align-items: center;
					// height: 40rpx;
					text{
						font-size: 36rpx;
						font-weight: 500;
						margin-bottom: 20rpx;
						margin-top: 4rpx;
						color: #000;
						margin-right: 8rpx;
					}
				}
				.info{
					margin-top: 4rpx;
					color: #333;
					font-size: 30rpx;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2; /* 控制显示的行数 */
					overflow: hidden;
				}
			}
		
			.actor-head {
				justify-content: center;
				/* 水平居中 */
				display: flex;
				// margin-top: 20rpx;
				border-radius: 12rpx;
				overflow: hidden;
				image {
					width: 168rpx;
					height: 188rpx;
				}
			}
		}
		.drama-num{
			width: 96%;
			display: flex;
			margin: 0 auto;
			align-items: center; /* 上下居中 */
			flex-wrap: wrap; /* 允许换行 */
			justify-content: flex-start; /* 或其他对齐方式，如center, space-between等 */
			.drama-num-box{
				width: calc(16.666% - 10px); /* 六分之一宽度减去间隙，根据需要调整间隙 */
			    height: 100rpx; /* 或者其他你需要的高度 */
			    background-color: #F2F5F7;
			    color: #000; /* 文本颜色应该设置为与背景色对比明显的颜色 */
			    margin: 5px; /* 为了创建间隙，可以设置margin */
			    box-sizing: border-box; /* 确保padding和border不会影响最终计算的宽度 */
			    display: flex; /* 将 .drama-num-box 设置为 Flex 布局 */
			    justify-content: center; /* 水平居中 */
			    align-items: center; /* 垂直居中 */
				border-radius: 8rpx;
				position: relative;
				.lock-fill{
					position: absolute;
					right: 0;
					top: 0;
					width: 36rpx;
					height: 36rpx;
					background-color: #90630F;
					align-items: center; /* 上下居中 */
					justify-content: center;
					display: flex;
					border-radius: 0rpx 8rpx 0rpx 8rpx; /* 顺序为 左上 右上 右下 左下 */
				}
			}
		}
	}